.git
.gitignore
.env
README.md
tests/
.phpunit.cache
writable/cache/_
writable/logs/_
writable/session/_
writable/uploads/_
!writable/.htaccess
node_modules/
vendor/codeigniter4/framework/system/Test
.editorconfig
phpunit.xml.dist
